/* Estilo cabeçalho*/
.topo
{
	background-color:black;
}
.topoImg
{
	margin-top: 10px;
}

.topoMenu
{
	margin-top:-20px; 
	margin-bottom:10px;
}
/* Término cabeçalho*/
/* Estilo Login*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/*Término Login*/

/*Estilo Index*/


.category-child .post-content span {
    color: #fff;
}


.category-child .post-content {
    background-color: rgba(7, 7, 7, 0.65);
    color: #fff;
    margin-top: -30px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 30px;
    overflow: hidden;
}
.category-child .thumb img {
    width: 200px;
    height: 150px;
}
.category-child .post-content span {
    line-height: 30px;
    position: relative;
    top: -10px;
}

.promo-box-page .cover-image img {
    width: 100%;
    max-height: 200px;
}
.promo-box-page .cover-caption {
    background: white none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 130px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 88px;
    width: 80%;
}

.catalogo
{
	margin-top:20px; 
	margin-left: 100px;
}
/*Término Index*/

/*Estilo Footer*/
#baixo {
	background-color:black;
	position: absolute;
    bottom: -20px;
    width: 100%;
}
#baixo ul {
	list-style-type:none;
}
.Copyright
{
	font-color: white;
	font-size: 15px;
}
.pagination{
	padding-left:30px;
}
/*Término footer*/


